@* Copyright Stefan Nychka, BSD 3-Clause license, LICENSE.txt*@
@{
    ViewBag.Title = "Converted Text";
}


@Html.ActionLink("Back to main page", "Index")

<h2>@ViewBag.Title</h2>

@Html.ValidationSummary(false)

<div class="separate  clear-fix">
    <div class="float-left" style="width:20%;"> 
        @using (Html.BeginForm("Download", "Home"))
        {
            @Html.AntiForgeryToken()
            <input type="submit" name="Download" value="Download"/>
        }
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("Save", "Home"))
            {
                @Html.AntiForgeryToken()
                <input type="submit" name="Save" value="Save"/>
            }
            if (ViewBag.SavedMessage != null)
            {
                <h3>@(ViewBag.SavedMessage as string)</h3>
            }
        }
        else
        {
            <p>Must be @Html.ActionLink("logged in", "Login", "Account") to save.</p>
            <input type="submit" name="Save" value="Save" disabled class="disabled"/>
        }
    </div>

<div class="float-right left-border" style="width:75%;">
@Html.Raw(ViewBag.Content as string)
</div>

</div>

@Html.ActionLink("Back to main page", "Index")
