@* Copyright Stefan Nychka, BSD 3-Clause license, LICENSE.txt *@
@{
    ViewBag.Title = "Convert (Paste in text)";
}
<h2>@ViewBag.Title</h2>

@Html.ValidationSummary(false)

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    <div class="float-left" style="width: 65%; overflow-x:auto">
        @Html.TextArea("unEncodedText", ViewBag.Content as string, 30, 80, 
            new { placeholder = "Paste in text to convert", id = "pastedText",
            style = "font-family: Courier; white-space: pre; width: 120ex"})
    </div>
    <div class="float-right" style="width: 30%;">
        <p>
            <input type="submit" name="@ViewBag.ConvertButtonName" value="Convert Text" disabled class="disabled"/>
        </p>
        <div class="top-border left-border">
            <h3>Or Upload a file to convert</h3>
            <input type="file" name="textFile" />
            <p>
                <input type="submit" name="Upload" value="Upload and Convert"/>
            </p>
        </div>

        <div class="top-border left-border">
        
        @if (Request.IsAuthenticated)
        {
            @* handled via js in Index.js *@
            <input type="submit" name="Retrieve" value="Retrieve"/>
        }
        else
        {
            <p>Must be @Html.ActionLink("logged in", "Login", "Account") to retrieve.</p>
            <input type="submit" name="Retrieve" value="Retrieve" disabled class="disabled"/>
        }
        </div>
    </div>
}


@section scripts
{
    <script src="~/Scripts/Home/Index.js"></script>
    <script>
        @* 
          later, put literals in ViewBag, but likely initialized in View
          not controller.
        *@
        DataFromView.init(
            '@ViewBag.ConvertButtonName',
            "#pastedText",
            "Retrieve",
            "form",
            '@Url.Action("Retrieve")'
            );
    </script>
}